.comments {
background: linear-gradient( to bottom right, lighten($color-secondary-1-2, 50));
outline: 1px solid lighten($color-primary-1, 44);
padding: .4rem 1rem;
margin: 6rem 0;
width: 100%;
max-width: 76.8rem;
}

.comment-reply-title {
  font-size: 1.6rem;
  color: darken($color-gray-light, 40);
  margin: 1rem 0;
  text-align: left;
}

.comment {
  margin: 2rem 0;
  padding: 2rem 1rem;
  border-top: 1px solid rgba(lighten($color-secondary-1-1, 10), .5);

  p {
    text-align: left;
  }
}

.comment-meta {
  text-align: left;
  margin: 1rem 0;
}

.comment-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    font-style: normal;
    color: $color-secondary-1-0;
    position: relative;
  }

  span {
    display: none;
  }
}

.avatar {
  width: 6rem;
  height: auto;
  border-radius: 50%;
  display: inline;
  margin-right: 1rem;
}



.reply {
 text-align: left;
 margin: 2rem 0 0;
 
  a {
    color: $color-secondary-1-2;
    @include transition-fast;

    &:hover {
      color: $color-secondary-1-4;
    }
  }
}

.comments-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4rem auto;

  .prev.page-numbers,
  .next.page-numbers {
    width: 19rem;
  }


}

.styled-separator {
  outline: none;
  height: 2px;
  background: linear-gradient(to right, transparent, $color-primary-3, transparent);
  border: none;
  max-width: 76.8rem;
}


// Leave a reply section 
.comment-respond {
  background: linear-gradient( to bottom right, rgba(lighten($color-secondary-1-2, 50), .5), rgba(lighten($color-secondary-1-1, 10), .5)), url('../img/comments-bg.jpg');
  outline: 1px solid lighten($color-primary-1, 44); 
  padding: .4rem 1rem;
  margin: 6rem 0;
  width: 100%;
  max-width: 76.8rem;
}

.comment-notes {
  text-align: left;
  font-size: 1.4rem;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;

  label {

  }
}

textarea {
  padding: .6rem 1rem;
  color: $color-gray-light;
  font-size: 1.8rem;
  margin: 1.4rem 0 0;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  color: lighten($color-gray-dark, 16);

  &:focus {
    box-shadow: inset 0 0 .6rem 0px #000;
    outline: none;
  }
}


.comment-form-author,
.comment-form-email {
  text-align: left;
  
  input {
    padding: .6rem 1rem;
    color: lighten($color-gray-dark, 16);
    font-size: 1.8rem;
    margin: 1.4rem 0 0;

    &:focus {
      box-shadow: inset 0 0 2px 1px #000;
      outline: none;
      border: none;
    }
  }
}

.form-submit {

  .submit {
    background: $color-secondary-1-3;
    border-radius: 3px;
    padding: .6rem 1rem;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    @include transition-fast;
    box-shadow: 0 0 3px #000;
    margin: 2rem 0;
    display: block;

    &:hover {
      background: $color-secondary-1-4;
    }
  }
}