.social-icons {

  i {
    margin: 0 .4rem;
    color: $color-secondary-1-2;
    @include transition-medium;

    &:hover {
      color: $color-secondary-1-3;
    }
  }
}

.credits {
  text-align: center;
  font-size: 1.3rem;

  .cfs {
    
    background: linear-gradient(to bottom right, $color-primary-2, $color-secondary-2-3);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  p,
  span {
    color: $color-gray-medium;
  }
}