.main-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  //width: 100%;

  .entry-meta { 
  
  }

  .post {
    margin-bottom: 4rem;
    width: 100%;
  }

  .post-thumbnail {
    width: 100%;
    padding: 1rem;
  }

  .wp-post-image {
    object-fit: cover;
    height: 20rem;
  }

  .recent-posts__excerpt {
    margin: 0;
  }
}