#page-header-masthead {
  height: 4rem;
}

.page-content {
  padding: 0 1rem;
  text-align: left;
}

// Main mobile navigation menu
.hamburger-btn {
  position: absolute;
  margin: 1.8rem 0;
  cursor: pointer;
  transform: translateX(-50%);
  @include transition-medium; 
  left: 50%;
  display: block;
  width: 100%;
  
  .line-1,
  .line-2,
  .line-3 {
    width: 3rem;
    height: 4px;
    background: $color-secondary-1-3;
    margin: .4rem auto;
    @include transition-medium;
    transform: scale(1) translate(0) rotate(0);
  }

  .line-1-move,
  .line-2-move,
  .line-3-move {
    background: $color-secondary-2-2;
  }

  .line-1-move {
    transform: translate(0rem, .8rem) rotate(-135deg);
  }

  .line-2-move {
    transform: scale(0);
  }

  .line-3-move {
    transform: translate(0rem, -.9rem) rotate(135deg);
  }
}

.nav-main__mobile {
  width: 40%;
  height: auto;
  margin: 0 auto;
  position: fixed;
  background: #fff;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  @include transition-slow;
  z-index: 200;

  &.main-menu-toggle {
    transform: translate(-50%, 45%);
    
  }

  &--items {
    
  }

  .menu-item {
    border: 1px solid black;
    text-align: center;
    padding: .4rem 0;
    @include transition-fast;

    &:hover {
      background: rgb(39, 39, 39);
      
      a {
        color: #fff;
      }
    }
  }
}

#page-nav-main {
  margin-top: 1rem;
}

.main-menu-menu-container {
  
}

.page-entry-header {
  margin: 2rem 0;
}

.page-entry-title {
  position: relative;
  text-align: left;
  overflow: hidden;
  

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba($color-primary-0, 0.6) 80%), url('../img/page-bar.jpg');
    height: 8rem;
    top: 50%;
    transform: translateY(-50%);
    left: -60%;
    right: -60%;
    z-index: -1; 
  }
}

.page-thumbnail {
  margin: 4rem 0 2rem;
}

.page-entry-content {

}