.content-wrap {
  margin: 2rem;
}

.entry-meta {
  margin: 1rem 0;
}

.entry-title {
  color: $color-secondary-1-4
}

.post-thumbnail {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.post-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  //background: rgba(0, 0, 0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 2rem 0;
}

.post-nav__next,
.post-nav__prev {
  width: 14rem;
  height: auto;
  padding: 1rem 0;
  border-radius: 3px;
  text-align: center;
  @include transition-fast;
  cursor: pointer;
  margin: 0 1rem;
}

.post-nav__prev {
  background: $color-primary-3;

  &:hover {
    background: $color-primary-4;
  }
}

.post-nav__next {
  background: $color-secondary-1-3;

  &:hover {
    background: $color-secondary-1-4;
  }
}

.entry-content {
  margin: 2rem 0;
} 