.article-search {
  margin: 3rem 0; 
  padding: 1rem; 

  &__title {
    margin: 0 0 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    //padding: 1rem;
  }

  &__thumbnail {
    margin: 1rem 0;
    height: auto;

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  &__content {

  }

  &__excerpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  &__meta {
    
  }

  .paginate-links {
    display: block;
  }
}

.search-pagination {
  margin: 0 0 5rem;
}