#secondary-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  // background: rgb(28, 156, 28);
  margin: 0 auto; 
  width: 34rem;
  min-width: 34rem;
}

.sidebar-widget-area {

  .widget {
    margin: 2rem 0;
  }

  h2.widgettitle {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.4rem;
  }
} 