.post {
  text-align: left;
}

.entry-meta {
  margin: 1rem 0;
}

.entry-title {
  color: $color-secondary-1-4;
}

.entry-thumbnail {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.wp-block-image {
  margin: 2rem 0;
}

.entry-content {
  margin: 2rem 0;
  text-align: left;
} 

.screen-reader-text {
  visibility: hidden;
}

.nav-title {
  display: inline;
  background: lightblue;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}
 
.navigation li {
    display: inline;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #6FB7E9;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}
 
.navigation li a:hover,
.navigation li.active a {
    background-color: #3C8DC5;
}