body {
  font-family: 'Montserrat', sans-serif; }

.logo {
  font-family: 'Mate SC', serif; }

p {
  line-height: 2.4rem;
  color: #2c2c2c; }

li {
  list-style: none; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  padding: 0;
  width: 100%; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin: 2rem;
  position: relative; }

#primary {
  width: 100%;
  text-align: center; }

.widget-area {
  padding: 2rem;
  width: 100%; }

.site-main {
  margin: 0 auto;
  width: 100%; }

figcaption {
  text-align: center; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1A0339; }

a {
  text-decoration: none;
  transition: all .2s ease;
  color: #704F9C;
  position: relative; }

a:hover {
  color: #4B0017; }

a.read-more {
  width: auto;
  display: inline-block;
  padding: .4rem .8rem;
  border-radius: 3px;
  margin: 2rem 0 0;
  color: #fff;
  background: #AD365A; }
  a.read-more:hover {
    background: #710526;
    color: #fff; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.margin-container {
  margin: 0 1.2rem; }

.margin-y-sm {
  margin: .6rem 0; }

.margin-y-md {
  margin: 1.4rem 0; }

.margin-y-lg {
  margin: 2.2rem 0; }

.margin-y-xl {
  margin: 3.8rem 0; }

.accent-primary {
  color: #520452; }

.accent-secondary-1-2 {
  color: #AD365A; }

.header-main {
  height: 14rem;
  width: 100%;
  position: relative; }
  .header-main__top-bar {
    height: 8rem;
    background: radial-gradient(#954595, #370037);
    box-shadow: 0 2px 2px #222;
    position: relative; }

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100%; }
  .logo-container a {
    display: block;
    margin: 0 auto; }

.logo {
  color: #1A0339;
  text-shadow: 0 0 12px white;
  position: relative;
  cursor: pointer;
  font-size: 2.8rem; }
  .logo-knife {
    width: 8rem;
    height: auto;
    transform: scale(-1, 1) rotate(-35deg);
    position: absolute;
    bottom: 30%;
    left: 53%;
    z-index: 0;
    display: none; }
  .logo .semiserious {
    z-index: 10;
    position: relative; }
  .logo .chefs {
    z-index: 1; }

.custom-search-field {
  font-size: 1.8rem;
  color: #555; }

.hamburger-btn {
  position: absolute;
  margin: 1.8rem 0;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all .4s ease;
  left: 50%;
  display: block;
  width: 100%; }
  .hamburger-btn .line-1,
  .hamburger-btn .line-2,
  .hamburger-btn .line-3 {
    width: 3rem;
    height: 4px;
    background: #710526;
    margin: .4rem auto;
    transition: all .4s ease;
    transform: scale(1) translate(0) rotate(0); }
  .hamburger-btn .line-1-move,
  .hamburger-btn .line-2-move,
  .hamburger-btn .line-3-move {
    background: #543184; }
  .hamburger-btn .line-1-move {
    transform: translate(0rem, 0.8rem) rotate(-135deg); }
  .hamburger-btn .line-2-move {
    transform: scale(0); }
  .hamburger-btn .line-3-move {
    transform: translate(0rem, -0.9rem) rotate(135deg); }

.nav-main__mobile {
  width: 40%;
  height: auto;
  margin: 0 auto;
  position: fixed;
  background: #fff;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  transition: all .7s ease;
  z-index: 200; }
  .nav-main__mobile.main-menu-toggle {
    transform: translate(-50%, 45%); }
  .nav-main__mobile .menu-item {
    border: 1px solid black;
    text-align: center;
    padding: .4rem 0;
    transition: all .2s ease; }
    .nav-main__mobile .menu-item:hover {
      background: #272727; }
      .nav-main__mobile .menu-item:hover a {
        color: #fff; }

.nav-main {
  display: none; }
  .nav-main__items {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 1rem; }
  .nav-main .menu-item {
    margin: 0 1.6rem;
    font-size: 1.7rem; }
  .nav-main a::after {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 50%;
    width: 0;
    height: 1px;
    background: #4B0017;
    transition: all .2s ease; }
  .nav-main a:hover {
    color: #4B0017; }
    .nav-main a:hover::after {
      content: '';
      position: absolute;
      bottom: -20%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #4B0017;
      transition: all .2s ease; }

.main-archive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: 100%; }
  .main-archive .post {
    margin-bottom: 4rem; }
  .main-archive .wp-post-image {
    object-fit: cover;
    width: 100%;
    height: 20rem; }
  .main-archive .recent-posts__excerpt {
    margin: 0; }

.no-results {
  margin: 4rem auto;
  padding: 1rem;
  text-align: center;
  max-width: 76rem; }
  .no-results p {
    margin: 0 0 2rem; }
  .no-results .page-not-found-img-container {
    max-width: 50rem;
    margin: 0 auto 4rem; }

.page-header {
  margin: 0 0 2rem; }

.no-results-search-form {
  max-width: 50rem;
  margin: 0 auto; }

#page-header-masthead {
  height: 4rem; }

.page-content {
  padding: 0 1rem;
  text-align: left; }

.hamburger-btn {
  position: absolute;
  margin: 1.8rem 0;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all .4s ease;
  left: 50%;
  display: block;
  width: 100%; }
  .hamburger-btn .line-1,
  .hamburger-btn .line-2,
  .hamburger-btn .line-3 {
    width: 3rem;
    height: 4px;
    background: #710526;
    margin: .4rem auto;
    transition: all .4s ease;
    transform: scale(1) translate(0) rotate(0); }
  .hamburger-btn .line-1-move,
  .hamburger-btn .line-2-move,
  .hamburger-btn .line-3-move {
    background: #543184; }
  .hamburger-btn .line-1-move {
    transform: translate(0rem, 0.8rem) rotate(-135deg); }
  .hamburger-btn .line-2-move {
    transform: scale(0); }
  .hamburger-btn .line-3-move {
    transform: translate(0rem, -0.9rem) rotate(135deg); }

.nav-main__mobile {
  width: 40%;
  height: auto;
  margin: 0 auto;
  position: fixed;
  background: #fff;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  transition: all .7s ease;
  z-index: 200; }
  .nav-main__mobile.main-menu-toggle {
    transform: translate(-50%, 45%); }
  .nav-main__mobile .menu-item {
    border: 1px solid black;
    text-align: center;
    padding: .4rem 0;
    transition: all .2s ease; }
    .nav-main__mobile .menu-item:hover {
      background: #272727; }
      .nav-main__mobile .menu-item:hover a {
        color: #fff; }

#page-nav-main {
  margin-top: 1rem; }

.page-entry-header {
  margin: 2rem 0; }

.page-entry-title {
  position: relative;
  text-align: left;
  overflow: hidden; }
  .page-entry-title::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, white 40%, rgba(106, 20, 106, 0.6) 80%), url("../img/page-bar.jpg");
    height: 8rem;
    top: 50%;
    transform: translateY(-50%);
    left: -60%;
    right: -60%;
    z-index: -1; }

.page-thumbnail {
  margin: 4rem 0 2rem; }

.post {
  text-align: left; }

.entry-meta {
  margin: 1rem 0; }

.entry-title {
  color: #4B0017; }

.entry-thumbnail {
  width: 100%;
  position: relative; }
  .entry-thumbnail img {
    width: 100%;
    height: auto; }

.wp-block-image {
  margin: 2rem 0; }

.entry-content {
  margin: 2rem 0;
  text-align: left; }

.screen-reader-text {
  visibility: hidden; }

.nav-title {
  display: inline;
  background: lightblue; }

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration: none; }

.navigation li {
  display: inline; }

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: #6FB7E9;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem; }

.navigation li a:hover,
.navigation li.active a {
  background-color: #3C8DC5; }

.main-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem; }
  .main-blog .post {
    margin-bottom: 4rem;
    width: 100%; }
  .main-blog .post-thumbnail {
    width: 100%;
    padding: 1rem; }
  .main-blog .wp-post-image {
    object-fit: cover;
    height: 20rem; }
  .main-blog .recent-posts__excerpt {
    margin: 0; }

.post-thumbnail {
  width: 100%;
  position: relative; }
  .post-thumbnail img {
    width: 100%;
    height: auto; }
  .post-thumbnail .recipe-navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0rem;
    color: #fff; }
    .post-thumbnail .recipe-navigation .navigation {
      width: 100%;
      padding: .4rem 0;
      margin: 0 auto; }
    .post-thumbnail .recipe-navigation .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .post-thumbnail .post-nav__next,
  .post-thumbnail .post-nav__prev {
    display: block;
    padding: .6rem;
    border-radius: 3px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    margin: .2rem 0;
    width: 14rem; }
  .post-thumbnail .post-nav__prev {
    background: rgba(82, 4, 82, 0.6);
    color: #fff; }
    .post-thumbnail .post-nav__prev:hover {
      background: #370037; }
  .post-thumbnail .post-nav__next {
    background: rgba(113, 5, 38, 0.6);
    color: #fff; }
    .post-thumbnail .post-nav__next:hover {
      background: #4B0017; }

.nav-title {
  display: none; }

.entry-content {
  margin: 2rem 0; }
  .entry-content .recipe-meta-info {
    margin: 2rem 0;
    padding: 0 1rem 1rem;
    border: 1px solid #921C3F;
    border-radius: 5px;
    box-shadow: 0 0 .5rem #000; }
    .entry-content .recipe-meta-info * {
      margin: 1rem 0; }

.wpcf7 {
  margin: 3rem 0;
  background: linear-gradient(rgba(146, 28, 63, 0.85), rgba(146, 28, 63, 0.85)), url("../img/contact-form-bg.jpg");
  background-position: center center;
  background-size: cover;
  padding: 1rem;
  border-radius: 3px; }
  .wpcf7 p {
    margin: 1.6rem 0 .6rem;
    color: #fff; }

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap .wpcf7-form-control {
  width: 100%;
  min-width: 90%;
  padding: .6rem 1rem;
  border: none;
  background: blue; }
  .wpcf7-form-control-wrap input:focus,
  .wpcf7-form-control-wrap .wpcf7-form-control:focus {
    box-shadow: inset 0 0 .6rem 0px #000;
    outline: none; }

.wpcf7-form-control {
  min-width: 28rem; }

.wpcf7-submit {
  padding: .8rem 2rem;
  background: #704F9C;
  border-radius: 3px;
  display: inline;
  border: none;
  transition: all .2s ease;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  min-width: auto; }
  .wpcf7-submit:hover {
    background: #520452;
    background: #543184; }

.comments {
  background: linear-gradient(to bottom right, #f8eaee);
  outline: 1px solid #ead1ea;
  padding: .4rem 1rem;
  margin: 6rem 0;
  width: 100%;
  max-width: 76.8rem; }

.comment-reply-title {
  font-size: 1.6rem;
  color: #444444;
  margin: 1rem 0;
  text-align: left; }

.comment {
  margin: 2rem 0;
  padding: 2rem 1rem;
  border-top: 1px solid rgba(218, 134, 159, 0.5); }
  .comment p {
    text-align: left; }

.comment-meta {
  text-align: left;
  margin: 1rem 0; }

.comment-author {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .comment-author a {
    font-style: normal;
    color: #921C3F;
    position: relative; }
  .comment-author span {
    display: none; }

.avatar {
  width: 6rem;
  height: auto;
  border-radius: 50%;
  display: inline;
  margin-right: 1rem; }

.reply {
  text-align: left;
  margin: 2rem 0 0; }
  .reply a {
    color: #AD365A;
    transition: all .2s ease; }
    .reply a:hover {
      color: #4B0017; }

.comments-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4rem auto; }
  .comments-pagination .prev.page-numbers,
  .comments-pagination .next.page-numbers {
    width: 19rem; }

.styled-separator {
  outline: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #520452, transparent);
  border: none;
  max-width: 76.8rem; }

.comment-respond {
  background: linear-gradient(to bottom right, rgba(248, 234, 238, 0.5), rgba(218, 134, 159, 0.5)), url("../img/comments-bg.jpg");
  outline: 1px solid #ead1ea;
  padding: .4rem 1rem;
  margin: 6rem 0;
  width: 100%;
  max-width: 76.8rem; }

.comment-notes {
  text-align: left;
  font-size: 1.4rem; }

.comment-form-comment {
  display: flex;
  flex-direction: column; }

textarea {
  padding: .6rem 1rem;
  color: #aaa;
  font-size: 1.8rem;
  margin: 1.4rem 0 0;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  color: #4b4b4b; }
  textarea:focus {
    box-shadow: inset 0 0 .6rem 0px #000;
    outline: none; }

.comment-form-author,
.comment-form-email {
  text-align: left; }
  .comment-form-author input,
  .comment-form-email input {
    padding: .6rem 1rem;
    color: #4b4b4b;
    font-size: 1.8rem;
    margin: 1.4rem 0 0; }
    .comment-form-author input:focus,
    .comment-form-email input:focus {
      box-shadow: inset 0 0 2px 1px #000;
      outline: none;
      border: none; }

.form-submit .submit {
  background: #710526;
  border-radius: 3px;
  padding: .6rem 1rem;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  transition: all .2s ease;
  box-shadow: 0 0 3px #000;
  margin: 2rem 0;
  display: block; }
  .form-submit .submit:hover {
    background: #4B0017; }

.search-form {
  display: none; }

.custom-search-form {
  position: relative; }

.custom-search-field {
  width: 100%;
  border: 1px solid #aaa;
  padding: 1rem 1.5rem;
  padding-right: 5.5rem; }
  .custom-search-field:focus {
    outline: 1px solid #555; }

.custom-search-submit {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border: none;
  width: 5rem;
  padding-top: .5rem;
  color: #555;
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.fa-search {
  transform: scale(1.2); }

.newest-recipes {
  margin-bottom: 4rem; }
  .newest-recipes__heading {
    font-weight: 400; }
  .newest-recipes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-gap: 1.4rem; }
  .newest-recipes__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative; }
  .newest-recipes__img {
    position: relative; }
    .newest-recipes__img:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
  .newest-recipes .wp-post-image {
    object-fit: cover;
    width: 100%;
    height: 24rem; }
  .newest-recipes__title {
    transition: all .2s ease;
    color: #222;
    font-size: 1.8rem; }
    .newest-recipes__title:hover {
      color: #4B0017; }

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }

.about__pic {
  outline: none;
  border-radius: 50%;
  width: 80%;
  max-width: 30rem;
  height: auto;
  border: 0.4rem solid #aaa; }

.about p, .about__pic {
  margin: 0 1rem; }

.about p {
  max-width: 92rem;
  text-align: left; }

.about__info h4 {
  font-weight: 400; }

.about__cf h4 {
  font-weight: 400; }

.recent-posts {
  margin-bottom: 4rem; }
  .recent-posts__heading {
    font-weight: 400; }
  .recent-posts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-gap: 1.4rem; }
  .recent-posts__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    text-align: left; }
  .recent-posts__title {
    color: #2B0B56;
    transition: all .2s ease;
    text-align: center; }
    .recent-posts__title:hover {
      color: #4B0017; }
  .recent-posts .wp-post-image {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 25rem; }
  .recent-posts__excerpt {
    width: 100%;
    margin: 0 2rem 2rem; }

.ingrediently {
  height: auto;
  margin-bottom: 4rem; }
  .ingrediently-heading {
    font-weight: 400; }
  .ingrediently-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(149, 69, 149, 0.7), rgba(55, 0, 55, 0.9));
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 1.4rem;
    color: #fff; }
    .ingrediently-container .temp-img {
      width: 100%;
      max-width: 50rem; }
    .ingrediently-container__img {
      width: 100%; }
    .ingrediently-container__info {
      width: 92%;
      max-width: 50rem; }
    .ingrediently-container__item {
      margin: 2rem 0;
      list-style: "\1F44D"; }

.random-recipes {
  margin-bottom: 4rem; }
  .random-recipes a:hover {
    color: #1A0339; }
    .random-recipes a:hover::after {
      content: '';
      width: 0; }
  .random-recipes__heading {
    font-weight: 400; }
  .random-recipes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-gap: 1.4rem; }
  .random-recipes__img {
    position: relative; }
    .random-recipes__img:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
  .random-recipes .wp-post-image {
    object-fit: cover;
    width: 100%;
    height: 25rem; }
  .random-recipes__title {
    transition: all .2s ease;
    text-align: center;
    font-size: 1.8rem;
    color: #222; }
    .random-recipes__title:hover {
      color: #4B0017; }

.article-search {
  margin: 3rem 0;
  padding: 1rem; }
  .article-search__title {
    margin: 0 0 1rem; }
  .article-search__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left; }
  .article-search__thumbnail {
    margin: 1rem 0;
    height: auto; }
    .article-search__thumbnail img {
      object-fit: cover;
      width: 100%;
      height: auto; }
  .article-search__excerpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem; }
  .article-search .paginate-links {
    display: block; }

.search-pagination {
  margin: 0 0 5rem; }

.paginate-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 1rem 0 5rem;
  text-transform: uppercase; }
  .paginate-links__narrow {
    margin: 4rem 0; }
  .paginate-links__wide {
    display: none; }

.prev.page-numbers,
.next.page-numbers,
.page-numbers.current,
.page-numbers {
  padding: 1rem 1.6rem;
  transition: all .2s ease; }
  .prev.page-numbers:hover,
  .next.page-numbers:hover,
  .page-numbers.current:hover,
  .page-numbers:hover {
    color: #fff;
    background: #7E277E; }

.prev.page-numbers {
  width: 14rem; }

.next.page-numbers {
  width: 14rem; }

.page-numbers.current {
  background: #370037;
  color: #fff; }

.single-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0 0; }

.prev-post,
.next-post {
  position: relative;
  max-width: 40%;
  margin: 2rem 0; }
  .prev-post a::before,
  .next-post a::before {
    content: '\27a2';
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: all .2s ease; }
  .prev-post a:hover::before,
  .next-post a:hover::before {
    visibility: visible;
    opacity: 1; }

.prev-post a::before {
  transform: scale(1.8) translateY(-40%) rotateY(180deg);
  left: -28%; }

.next-post a::before {
  transform: scale(1.8) translateY(-40%);
  right: -28%; }

.double-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

#secondary-sidebar,
#secondary-sidebar-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  min-width: 32rem;
  padding: 1rem; }

.widget,
.widget-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem;
  padding: 1rem;
  width: 100%; }
  .widget ul,
  .widget-bottom ul {
    width: 80%; }
  .widget li,
  .widget-bottom li {
    margin: .6rem 0; }

h2.widgettitle {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.4rem; }

.cat-item {
  margin: .8rem 0; }

#secondary-sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  width: auto;
  padding: 1rem;
  min-width: 32rem; }

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #aaa;
  width: 100%;
  padding: 2rem 1rem 1.4rem; }

.social-icons i {
  margin: 0 .4rem 3rem;
  color: #AD365A;
  transition: all .4s ease; }
  .social-icons i:hover {
    color: #710526; }

.credits {
  text-align: center;
  font-size: 1.3rem; }
  .credits .cfs a {
    background: linear-gradient(to bottom right, #7E277E, #2B0B56);
    -webkit-background-clip: text;
    color: transparent; }
  .credits p,
  .credits span {
    color: #555; }

.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; }
  .error-404 header {
    margin: 4rem 0; }
  .error-404 h1 {
    font-size: 4rem;
    text-align: center; }
  .error-404 .page-not-found-img-container {
    margin: 4rem auto;
    width: 90%;
    max-width: 50rem; }
  .error-404 p {
    text-align: center;
    margin: 1rem 0 .4rem; }

.error-latest-posts {
  text-align: left;
  margin-top: 5rem; }
  .error-latest-posts li {
    margin: 1rem 0; }
  .error-latest-posts a {
    transition: all .2s ease; }

@media (max-width: 576px) {
  .newest-recipes .wp-post-image,
  .recent-posts .wp-post-image,
  .random-recipes .wp-post-image {
    height: 30rem; } }

@media (min-width: 576px) {
  .newest-recipes .wp-post-image,
  .recent-posts .wp-post-image,
  .random-recipes .wp-post-image {
    height: 40rem; }
  .post-thumbnail .recipe-navigation {
    bottom: 1rem; }
    .post-thumbnail .recipe-navigation .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
  .post-thumbnail .post-nav__next,
  .post-thumbnail .post-nav__prev {
    display: block;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    margin: 0 1rem;
    width: 18rem; }
  .comments-pagination {
    flex-direction: row; } }

@media (min-width: 768px) {
  .logo-container {
    justify-content: space-between; }
  .logo {
    color: #1A0339;
    text-shadow: 0 0 12px white;
    position: relative;
    cursor: pointer;
    font-size: 4rem;
    margin: 0;
    margin-left: 2rem; }
    .logo-knife {
      display: block; }
    .logo .semiserious {
      z-index: 10;
      position: relative; }
    .logo .chefs {
      z-index: 1; }
  .hamburger-btn {
    display: none; }
  .nav-main__mobile {
    display: none; }
  .nav-main {
    display: block; }
  .search-form {
    display: block; }
  .newest-recipes__container,
  .recent-posts__container,
  .random-recipes__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    grid-gap: 1.4rem; }
  .newest-recipes .wp-post-image,
  .recent-posts .wp-post-image,
  .random-recipes .wp-post-image {
    height: 40rem; }
  .main-blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; }
  .main-archive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    grid-gap: 1.4rem; }
  .double-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }
  #secondary-sidebar-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start; }
    #secondary-sidebar-bottom .widget-bottom {
      margin: 1rem;
      width: 28rem; }
  .single-nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0 0; }
  .prev-post,
  .next-post {
    position: relative;
    max-width: 40%;
    margin: 2rem 0; }
    .prev-post a::before,
    .next-post a::before {
      content: '\27a2';
      position: absolute;
      top: 50%;
      opacity: 0;
      transition: all .2s ease; }
    .prev-post a:hover::before,
    .next-post a:hover::before {
      visibility: visible;
      opacity: 1; }
  .prev-post a::before {
    transform: scale(1.8) translateY(-40%) rotateY(180deg);
    left: -22%; }
  .next-post a::before {
    transform: scale(1.8) translateY(-40%);
    right: -28%; }
  .article-search__container {
    flex-direction: row;
    align-items: flex-start; }
  .article-search__thumbnail {
    margin-right: 1rem; } }

@media (min-width: 992px) {
  #primary {
    max-width: 68%; }
  .content-wrap {
    flex-direction: row;
    align-items: flex-start; }
  .about__container {
    display: grid;
    justify-items: center; }
  .about__pic {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    outline: none;
    border-radius: 50%;
    width: 70%;
    max-width: 50rem;
    height: auto;
    border: 0.4rem solid #aaa; }
  .about p, .about__pic {
    margin: 0 1rem; }
  .about p {
    background: white;
    margin: 0 1rem; }
  .about__info {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
    .about__info h4 {
      font-weight: 400; }
  .about__cf {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
    .about__cf h4 {
      font-weight: 400; }
  .main-blog .wp-post-image {
    height: 30rem; }
  .paginate-links__narrow {
    display: none; }
  .paginate-links__wide {
    display: block;
    margin: -12rem 0 6rem; }
  .paginate-links__home {
    margin: 0 0 5rem; }
  .double-sidebar {
    display: flex;
    flex-direction: column; }
  #secondary-sidebar-bottom {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  .site-main {
    width: auto; }
  .content-wrap {
    width: 97.3%; } }

@media (min-width: 1300px) {
  #primary {
    max-width: 74%; }
  .newest-recipes__container,
  .recent-posts__container,
  .random-recipes__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-gap: 1.4rem; }
  .newest-recipes .wp-post-image,
  .recent-posts .wp-post-image,
  .random-recipes .wp-post-image {
    height: 30rem; } }

    /*
Theme Name: Semiserious Chefs
Theme URI: https://semiseriouschefs.com
Author: Vanessa Duley & Andrew Duley
Author URI: https://semiseriouschefs.com
Description: Our own personal vision of what we wanted our website to look like. Fashionable colors blend together leaving the theme open and not too busy. It supports options for two sidebars to add widgets as well as two navigation bars.
Version: 1.0.0
License: GNU General Public License v2 or later
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments
Text Domain: semiserious-chefs
*/